/* admin.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  font-family: 'Times New Roman', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
}

html, body{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Image/church2.jpg);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color:#fff;
  font: 1rem;
}
a:hover{
  color: orange;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6c757d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
}

.container.my-5 {
  margin-top: 5rem;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.btn.btn-dark.btn-sm {
  padding: 10px 20px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: skyblue;
}

.edit-btn,
.delete-btn,
.view-requirements-btn {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.delete-btn {
  background-color: #dc3545;
}

.view-requirements-btn {
  background-color: #28a745;
}

.active {
  opacity: 0.8;
}
