* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Image/church2.jpg);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  position: relative;
  color:#fff;
  font: 1rem;
}
.links a::after{
  text-decoration: none;
  position: absolute;
  content: "";
  background: orangered;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: .3s ease;
}
.links a:hover::after{
  opacity: 1;
  transform: translateY(9px);
}
/*HEADER*/
header{
  position: relative;
  padding: 0 2rem;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links{
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
/*Dropdown Menu*/
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 200px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 180px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*CONTEXT*/
section#context {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
#context h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.button{
  --color: white;
  padding: 1rem 4rem;
  background-color: transparent;
  border-radius: .4em;
  position: relative;
  top: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: 1s;
  font-size: 16px;
  font-weight: 500;
  border:2px solid;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}
.button::before, .button::after{
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  background-color: var(--color);
  border-radius: 50%;
  transition: 1s ease;
  z-index: -1%;
}
.button::before{
  top: -1em;
  left: -1em;
}
.button::after{
  left: calc(100% + 2em);
  top: calc(100% + 2em);
}
.button:hover::before, .button:hover::after{
  height: 450px;
  width: 450px;
}
.button:hover{
  color: orangered;
}
.banner-area{
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}
.banner-area .banner-img{
  background-color: black;
  background-image: url(Image/church2.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-position: center center;
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.banner-area .banner-img::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
}
.Context p{
  margin-bottom: 15px;
  font-size: 65px;
  text-transform: uppercase;
  color: #fff;
}
.banner-area h1{
  margin-bottom: 15px;
  font-size: 40px;
  text-transform: uppercase;
}
.banner-area a.banner-btn{
  padding: 15px 35px;
  background: #777777;
  text-transform: uppercase;
}
@media(max-width:800px){
  .banner-area{
    min-height: 600px;
  }
  .banner-area h1{
    font-size: 27px;
  }
  .banner-area p{
    font-size: 20px;
  }
  .banner-area a.banner-btn{
    padding:8px 20px;
  }
}


/*RESPONSIVE DESIGN*/
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
  }
}
@media (max-width: 576px){
.dropdown_menu{
  left: 2rem;
  width: unset;
}
}
.Service_menu{
  font-weight: bold;
  position: relative;
  display: flex;
  gap: 3rem;
  width: 100%;
  right: 2rem;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
  position: relative;
  left: 100px;
}
